body {
	background-color: hotpink;

} 
h1{
	color: black;
	text-align: center;
	font-size:35px;

}


.nav_bar{
	border: solid 10px;
	padding:20px;
	margin :auto;


}
li a{
	text-decoration: none ;

}

.nav_bar li{
	display: inline;
	font-size: 25px ;
	padding: 10px;
	width:10px; 
}

.nav_bar li:hover{
	background-color:grey;


}
.center{
	height:250px;
	width  : 1100px;
	margin :auto;

}
.photogarphies{
	width: 1150px;
    margin: auto;

}
.image {
	border-radius:50%;
	margin:20px;

}
.singleimage{
	height:250px;
	width  :200px;
	margin :auto;


}
.quotes{
	height:150px;
	width  :800px;
	margin :auto;

}

.paintings{
	width: 1150px;
    margin: auto;
}

.border{
	border:solid black 10px;

}


h2{
	color: black;
	text-align: center;
}

h3{
	color: black;
	text-align: center;
	font-size:25px;
}
