<!Doctype html>
<html>


<style>

body {
background-color: green;

} 
ol:hover{
	color:red;
}
	

h1{
	color: white;
	text-align: center;
}




h1:hover,p:hover,h2:hover{
	color:red;
}



h2{
	text-align:right;
}





a{
	text-align:right; 

}


</style>






<body>

<h1> My First Y2 coding exericse</h1>




<h2>i can write here</h2>



<p> these are my favorite things</p>

<pl>
<pl>
<pl>
<pl>
<pl>
<pl>

<ol>	
	<li> coding</li>
	<li> chocolate</li>
</ol>





<a href="www.google.com" target="null">  lets google something  </a>



<img src=http://bit.ly/2r8tNLH
 height="300px" width="auto"</img>



</body>



</html>