{%extends"layout.html"%}
{%block body%}

	<h1> Home </h1>
    <h2> {{quotes}} </h2>

	<div class="center border">
		<div class="singleimage">
			<img src="../static/images/14322628_1263607597004042_7746673965817337476_n.jpg"
			height="200px" width="auto" class="image"></img>
		</div>
	</div>
	<h2> photographies </h2>

	<div class="center border">
		<img src="../static/images/g2.jpg"
		height="200px" width="auto" class="image"></img>
		<img src="../static/images/19748847_10154978753083757_1810551073282659959_n.jpg"
		height="200px" width="auto" class="image"></img>
		<img src="../static/images/15822570_10154425180188757_5264497550155524913_n.jpg"
		height="200px" width="auto" class="image"></img>

	</div>


	<h2> writings </h2>
	<div class="quotes border">

		<ol>

			<li>There isn't a way things should be. There's just what happens, and what we do.</li>
			<li>It's not about how hard you can hit; it's about how hard you can get hit and keep moving forward.</li>
			<li>Believe you can and you're halfway there.</li>
			<li>There is no elevator to success you have to take the stairs.</li>
			<li>Those who don't believe in magic will never find it.</li>
		</ol>
	</div>

	<h2> paintings </h2>
	<div class="paintings border">
		<img src="../static/images/images.jpeg"height="200px" width="auto" class="image"></img>
		<img src="../static/images/images1.jpeg"height="200px" width="auto" class="image"></img>
		<img src="../static/images/imagesg.jpeg"height="200px" width="auto" class="image"></img>
		<img src="../static/images/images33.jpeg"height="200px" width="auto" class="image"></img>
		<img src="../static/images/images77.jpeg"height="200px" width="auto" class="image"></img>


		



	</div>
<h5> contact </h5>



{%endblock%}
