{%extends"layout.html"%}
{%block body%}

	<h1> Home </h1>
    <h2> {{quotes}} </h2>

	<div class="center">
		<div class="singleimage">
			<img src="../static/images/15941440_1385197218178412_2578508937073715416_n.jpg"
			height="200px" width="auto" class="image"></img>
		</div>
	</div>
	<h2> photographies </h2>

	<div class="center">
		<img src="../static/images/g2.jpg"
		height="200px" width="auto" class="image"></img>
		<img src="../static/images/19748847_10154978753083757_1810551073282659959_n.jpg"
		height="200px" width="auto" class="image"></img>
	</div>


	<h3> writings </h3>
	<div class="quotes">

		<ol>

			<li>There isn't a way things should be. There's just what happens, and what we do.</li>
			<li>It's not about how hard you can hit; it's about how hard you can get hit and keep moving forward.</li>
			<li>Believe you can and you're halfway there.</li>
			<li>There is no elevator to success you have to take the stairs.</li>
			<li>Those who don't believe in magic will never find it.</li>
		</ol>
	</div>

	<h4> paintings </h4>
	<div class="paintings">
		<img src="../static/images/images.jpeg"height="200px" width="auto" class="image"></img>
		<img src="../static/images/images1.jpeg"height="200px" width="auto" class="image"></img>
		<img src="../static/images/imagesg.jpeg"height="200px" width="auto" class="image"></img>
	</div>



{%endblock%}
